{% load static %}

<html>

<head>
    <meta charset="utf-8">
    <title>Task</title>
    <link rel="stylesheet" href="{% static 'tasks/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'tasks/css/style.css' %}">
</head>

<body>
    <nav>
        <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'tasks:index' %}">Lista de Tareas</a></li>
                <li><a href="{% url 'tasks:account_detail' %}">Información del Miembro</a></li>
                <li><a href="{% url 'tasks:logout' %}">Cerrar Sesión</a></li>
            {% else %}
                <li><a href="{% url 'tasks:register' %}">Registro de Cuenta</a></li>
                <li><a href="{% url 'tasks:login' %}">Iniciar Sesión</a></li>
            {% endif %}
        </ul>
    </nav>
    <main>
        <div>
            {% block main %}
            {% endblock %}
        </div>
    </main>
</body>

</html>